{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "html"
  ],
  "indent": ["error", 2],
  "rules": {
    "brace-style": "off",
    "new-cap": [
      "error",
      {
        "capIsNewExceptions": [
          "PolymerRedux",
          "ReduxMixin",
          "Polymer",
          "GestureEventListeners",
          "InputBehavior",
          "NBMFormat",
          "LazyImportsMixin"
        ]
      }
    ],
    "no-var": "off",
    "require-jsdoc": "off",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "max-len": [
      2,
      180,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreTemplateLiterals": true
      }
    ],
    "valid-jsdoc": "off"
  },
  "globals": {
    "require": true
  }
}
